#records {
    float: left;
    width: 67%;
    max-width: 640px;
    margin-right: 20px;

    .image-grid > li {
        margin: 0 6px 12px;
    }
}

.records {
    background-color: #fcfcfc;

    li {
        padding: 2px 6px;
        padding-left: 10px;
        line-height: 26px;
    }

    .detail,
    .title {
        display: inline-block;
        max-width: 80%;
        white-space: nowrap;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .detail {
        min-width: 50%;
        max-width: 77%;
    }

    .actions {
        float: right;
        position: relative;
    }
}

.records:not(.tree) li:nth-child(2n - 1) {
    background-color: #eaeaea;
}

.actions a:hover,
.actions a:focus {
    background-color: #65c3f7;
}

.actions a:active {
    background-color: #22a7f2;
}

a.move:active {
    cursor: move;
    background: none;
}

.actions img {
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.tree li {
    background: url('/images/branch.gif') no-repeat scroll 0 0 transparent;
    padding: 0 0 0 15px;

    > ul {
        margin-left: 15px;
    }
}

.tree > li:first-child {
    background-image: url('/images/branch-start.gif');
}

.tree li:last-child {
    background-image: url('/images/branch-end.gif');
}

.tree > li:first-child:last-child {
    background-image: none;
}

.tree .row {
    padding: 1px 4px 1px 8px;
    clear: both;
}

.tree .row:hover {
    background-color: #c9dae2;
}

.title.icon-small {
    background-image: url('/images/icons/page.png');
    background-position: 0 50%;
    text-indent: 20px;

    &.toggle {
        cursor: pointer;
        background-image: url('/images/icons/folder.png');
    }

    &.toggle.expanded {
        background-image: url('/images/icons/folder_open.png');
    }
}

.image-grid .image,
.image > img {
    display: block;
    margin: auto;
    border: none;
    padding: 0;
}

.image-grid {
    margin: 0;

    > li {
        float: left;
        padding: 0;
        margin: 0 4px 8px;
        max-height: 165px;
        overflow: hidden;
        position: relative;
        text-align: center;
        background: #f7f7f7;
    }

    .actions {
        padding-bottom: 3px;
    }

    .image {
        border: solid 2px transparent;

        > img {
            max-width: 100%;
        }
    }

    .image:hover,
    .image-grid .image:focus {
        border-color: #22a7f2;
    }

    li:active .image {
        border-color: #004a8f;
    }

    .ui-selected,
    .ui-selected:hover {
        outline: solid 2px #22a7f2;
    }

    .image-grid .ui-selected .image {
        border-color: #22a7f2;
    }
}

.detail .image {
    display: inline-block;
    vertical-align: top;
    margin: 0 6px 0 0;

    > img {
        vertical-align: middle;
    }
}

.records:not(.tree) li:hover {
    background-color: #c9dae2;
}

.records:not(.image-grid) .ui-selected,
.records:not(.image-grid) .ui-selected:hover,
.records:not(.tree) .ui-selected:nth-child(2n-1) {
    background-color: #e0f5e0;
    outline: solid 1px #00a017;
    color: #00a017;
}

#actions {
    float: left;
    width: 30%;
    max-width: 300px;

    li {
        margin-bottom: 10px;

        a {
            background-color: #dbedff;
            background-position: 12px center;
            border: 1px solid #65c3f7;
            display: block;
            height: 100%;
            padding: 9px 12px;
        }
    }

    .active > a {
        font-weight: bold;
    }

    a:hover {
        background-color: #cae7fb;
    }

    a:active {
        background-color: #22a7f2;
        color: #fff;
    }
}

li.child-1 {
    padding-left: 27px;
}

li.child-2 {
    padding-left: 47px;
}

li.child-3 {
    padding-left: 67px;
}

li.child-4 {
    padding-left: 87px;
}
