#site-bar-wrapper {
    height: 40px;
    line-height: 40px;
    background: #22a7f2;
    color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

#site-bar {
    margin: 0 20px;

    a {
        text-decoration: none;
        display: inline-block;
        padding: 0 14px;
        white-space: nowrap;
        color: #fff;
    }

    a:hover {
        background-color: #43b4f4;
    }

    a:active {
        background-color: #1f96d9;
    }
}

#editor-switch {
    float: left;
}

#current-user {
    float: right;
}

#site-name {
    font-size: 120%;
    font-weight: bold;
    color: #91d3f9;
}
